<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCExwSkUoARzLaxwFsO_lQNn6O-1NYL5Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>1063359125039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chucknastyapp</string>
	<key>PROJECT_ID</key>
	<string>chucknasty26s</string>
	<key>STORAGE_BUCKET</key>
	<string>chucknasty26s.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063359125039:ios:0090b68b7e8376db5bd8da</string>
</dict>
</plist>